:root {
  --main: #ff3b4b;
  --container: #9b000c;
  --shadow: #fec1c6;
  --text: #ffffff;
  --link: #fddbdb;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  background-color: var(--main);
  color: var(--text);
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 15% 1fr 15%;
  grid-template-rows: 10% 1fr 1fr 10%;
  grid-column-gap: 10px;
  grid-row-gap: 5px;
  grid-template-areas:
    "header header header"
    "sidebar pomo ."
    "sidebar game ."
    "footer footer footer";
}

header {
  border-color: var(--shadow);
  border-left: 1%;
  border-bottom: 1%;
  grid-area: header;
  text-align: center;
  vertical-align: top;
  position: fixed;
}

.pomo {
  border-color: var(--shadow);
  border-left: 1%;
  border-bottom: 1%;
  display: inline-grid;
  grid-template-areas:
    "time time time"
    "start stop reset";
  grid-area: pomo;
  overflow: auto;
  padding: 15px 5px 10px 5px;
  background-color: #9b000c;
}

.pomo > .time {
  font-size: 20pt;
  grid-area: "time";
  width: 100hv;
}

.pomo > .start {
  box-shadow: #fec1c6;
  grid-area: "start";
}

.pomo > .stop {
  box-shadow: #fec1c6;
  grid-area: "stop";
}

.pomo > .reset {
  box-shadow: #fec1c6;
  grid-area: "reset";
}

.game {
  border-color: var(--shadow);
  border-left: 1%;
  border-bottom: 1%;
  grid-area: game;
  overflow: auto;
  padding: 15px 5px 10px 5px;
  background-color: #9b000c;
}

menu {
  border-color: var(--shadow);
  border-left: 1%;
  border-bottom: 1%;
  grid-area: sidebar;
  background-color: #9b000c;
}

footer {
  border-color: var(--shadow);
  border-left: 1%;
  border-bottom: 1%;
  grid-area: footer;
  text-align: center;
}
